body { 
    width: 80%; 
    margin:auto;
}

.container{
    max-width: 600px;
    margin:0 auto;
}

h1{
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 15px;
}

.invalid-feedback{
    font-size:0.785 rem;
    color: red;
}